/* import font */
@import url('http://fonts.cdnfonts.com/css/monofonto');

body {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background-color: #000;
     overflow: hidden;
     font-family: "Courier New", sans-serif;
     font-weight: bold;
}


.volume_bar{
    color: #FFC000;
}

.synth_sity_image_cell{
}

.synth_sity_image{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.synth_sity_title{
    text-align: center;
    font-family: "Courier New", sans-serif;
    text-shadow: 0 0 20px #FFB000;
    color: #FFC000;
    font-size: 25px;

}

.settings_table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.setting_cell{
    text-shadow: 0 0 20px #FFB000;
    color: #FFC000;
    font-family: "Courier New", sans-serif;
    font-weight: bold;
    text-align: center;
    width: 436px;
    height: 100px;
    border: 3px solid #FFC000;
    box-shadow: inset 0px 3px 15px 0px #FFB000, 0px 3px 15px 0px #FFB000;
}

select{
    appearance: none;
    text-align: center;
    background-color: transparent;
    border: 3px solid #FFC000;
    color: #FFC000;
    box-shadow: 0px 3px 15px 0px #FFB000;
    font-size: 15px;
    font-family: "Courier New", sans-serif;
    font-weight: bold;
}

.wave_image{
    border: 3px solid #FFC000;
    box-shadow: inset 0px 3px 15px 0px #FFB000, 0px 3px 15px 0px #FFB000;
}

.keyboard {

margin-left: auto;
margin-right: auto;
}

ul {
        margin: 0;
        padding: 0;
        text-align: center;
     list-style: none;
     display: flex;
}
ul .key {
     position: relative;
     width: 60px;
     height: 180px;
     border: 3px solid #FFC000;
     border-right: none;
     /*background: black;*/
     box-shadow: inset 0px 3px 15px 0px #FFB000, 0px 3px 15px 0px #FFB000; /*was #45B84B*/
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: flex-end;
     padding-bottom: 10px;

}
ul .key:last-child {
     border-right: 3px solid #FFC000;
}
ul .black-key {
     position: absolute;
     top: -2px;
     left: 37.5px;
     width: 45px;
     height: 120px;
     border: 3px solid #FFC000;
     background: black;
     box-shadow: inset 0px 3px 15px 0px #FFB000, 0px 3px 15px 0px #FFB000;
     z-index: 999;
     display: flex;
     justify-content: center;
     align-items: flex-end;
     padding-bottom: 10px;
     color: #FFC000;
     background-image:linear-gradient(transparent, transparent 3px, #222);
     background-size:4px 4px;
}

/*pipboy look*/
.screen {
  animation:colorPulse 5s infinite ease-in-out;
  background-image:radial-gradient(#100, #000);
  box-shadow:0 0 5vmin 1vmin #000 inset;
}

.screen:before {
  animation:wave 10s infinite ease-in-out;
  content:"";
  height:20vh;
  left:0;
  opacity:.5;
  position:absolute;
  right:0;
  z-index:1;
}

.screen:after {
  background-image:linear-gradient(transparent, transparent 3px, #222);
  background-size:4px 4px;
  bottom:0;
  content:"";
  left:0;
  pointer-events:none;
  position:absolute;
  right:0;
  top:0;
  z-index:2;
}

p:last-child:after {
  animation:blink 1s infinite;
  content:"_";
}

@keyframes colorPulse {
  0%, 100% {
    color:#FFC000;
  }
  48%, 52% {
    color:#FFC000;
  }
  50% {
    color:#FFC000;
  }
}

@keyframes wave {
  0% {
    box-shadow:0 -10vh 20vh #FFC000;
    top:-100vh;
  }
  48%, 52% {
    box-shadow:0 -10vh 20vh #FFC000;
  }
  50% {
    box-shadow:0 -10vh 20vh #FFC000;
  }
  100% {
    box-shadow:0 -10vh 20vh #FFC000;
    top:200vh;
  }
}

@keyframes blink {
  50% {
    opacity:0;
  }
}
